*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    color: white;
    text-decoration: none;
}

header{
    overflow: hidden;
    justify-content: center!important;
    align-items: center!important;
}

.navbar .nav-menu li a{
    color: rgb(3, 2, 2);
    display: inline-block;
    
}

.navbar{
    position: fixed!important;
    top: 10px!important;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    width: 97%;
    z-index: 10;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    background-image: linear-gradient(100deg, #eee5e5, #ffffff)!important;
    
    box-shadow: 0 1px 8px #000000;
}

.nav-menu{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    font-size: 1.2em;
    color: black!important;
}



.nav-menu .nav-item{
    color: black!important;
}

.nav-branding{
    padding-left: 30px;
    font-size: 2rem;
}

.nav-link{
    font-weight: 700;
    transition: 0.7 ease;
    color: black;
}

.nav-link:hover{
    font-weight: 600;
    color:#000000;
    border-bottom: 1px solid rgb(0, 0, 0);
    opacity: 1;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.hamburger{
    display:none;
    cursor: pointer;

}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgb(0, 0, 0);
}

body{
    animation: transition_In 2.5s;
}

@keyframes transition_In{
    from{
        opacity: 0;
        transform: rotateX(-10deg)
    }

    to{
        opacity: 1;
        transform: rotateX(0)
    }
}

@media(max-width: 767px){
    .hamburger{
        display: block;
    }

    .pimg3{
        height: 700px;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 125px;
        gap: 0;
        flex-direction: column;
        background-image: linear-gradient(100deg, #eee5e5, #ffffff)!important;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        border-radius: 50px;
        box-shadow: 0 1px 8px #000000;
        
    }

    .nav-link{
        text-align: center!important;
    }

    .nav-item{
        margin: 16px 0;
    }

    .nav-menu.active{
        left: 0;
    }

    .footer_txt{
        width: 50%;
        margin-bottom: 30px;

    }

    .footer_txt_left{
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px){
    .footer_txt{
        width: 100%;
        margin-bottom: 30px;

    }

    .footer_txt_left{
        width: 100%;
    }

}

body, html{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family:"lato", sans-serif;
    font-weight: 400;
    Line-height: 1.8em; 
}

body{
    overflow-x: hidden;
}

.pimg1{
    background-image: url('../Media/poly_bg.jpg');
    min-height: 100%;
    
}

.toast{
    
    z-index: 2000;
}

.pimg4{
    background-image: url('../Media/par4.jpg');
    min-height: 100%;
    opacity: 0.7;
}

.pimg1 img{
    position: relative;
    top: 300px;
    height: 10%;
    width: 100%;
    
}

.pimg1 h1{
    position: relative;
    top: 10px;
    height: 10%;
    width: 100%;
}

.pimg2{
    position: absolute;
    background-image: url('../Media/par2.jpg');
    min-height: 400px;
    
}

.pimg2 img{
    position: relative;
    top: -160px;
    height: 300px;
    width: 300px;
    

}

.pimg2 .logo_brt{
    filter:brightness(100%);
}


.pimg3{
    background-image: url('../Media/par3.jpg');
    min-height: 400px;
    
}

.pimg3 img {
    position: relative; 
    top: -150px;
    height: 300px;
    width: 300px;
    
    opacity: 1!important;
    border-radius: 20px;
    box-shadow: 0 1px 20px #000000;
    
}

.pimg4 img{
    height: 700px;
    width: 600px;

}

.pimg4 .border{
    position: relative;
    top: 100px;
}

.section li{
    line-height: 50px;
}

.pimg5{
    background-image: url('../Media/par5.jpg');
    min-height: 400px;
}

.pimg5 img{
    position: relative;
    top: -20px;
    height: 700px;
    width: 600px;
}

.pimg1, .pimg2, .pimg3, .pimg4, .pimg5{
    position: relative; 
    opacity: 0.8;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    background-attachment: fixed;
}

.section{
    text-align: center;
    padding: 50px 80px;
}

.section-light{
    background-color:#f4f4f4;
    color: #666;
}

.section-dark{
    background-color:#282e32;
    color: #ddd;
}

.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: rgb(255, 255, 255); 
    font-size: 27px; 
    letter-spacing: 8px; 
    text-transform: uppercase;
}

.ptext .border{
    background-color: #111;
    color #fff;
    padding: 20px;
}

.ptext .border .trans{
    background-color: transparent;
}

footer{
    position: relative;
    background-image: linear-gradient(100deg, #eee5e5, #ffffff)!important;
    color: #666;
    color: #ddd;
    box-shadow: 0 5px 20px #000000;
    text-align: center;
    padding: 30px;
    bottom: 0px;
}

.footer_txt{
    font-size:small;
    color: rgb(0, 0, 0);
    align-items: right;
}

.footer_txt_left{
    font-size:small;
    color: rgb(0, 0, 0);
    letter-spacing: 4px;
    position: relative;
    top: 2px;
}

.footer_mid{
    position:relative;
    left: 150px;
}
